<li>
        <div class="post">
        <div class="titleline">
            <span class="post-title">{{title}}</span>
            <span class="post-author">Author: {{user.user_name}}</span>
        </div>

        <div class="footerline">
            <span class="post-date">Posted: {{created_at}}</span>
            <span class="post-comments">Comments: {{comments.length}}</span>
        </div>
        </div>
    </li>