<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pat's Techie Blog</title>
  <link rel="icon" href="/assets/favicon.ico">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  
  <div class="wrapper">
    <header>
      <a href="/">
      <div class="title-wrapper">
        <img src="/assets/nerd_512x512.png" width="100px" alt="">
        <h1>Pat's Techie Blog</h1>
        <span></span>
      </div></a>
      <br>
      <nav class="menu-bar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
          {{#if req.session.loggedIn}}
          <li class="user-signedin">Logged in as: {{req.session.user_name}}</li>
          <li><a href="#" id="logout">Logout</a></li>
          {{else}}
          <li class="user-signedin">Not logged in</li>
          <li><a href="/login" id="login">Login</a></li>
          {{/if}}
        </ul>
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
    </footer>
  </div>
  {{#if req.session.loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>