<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pat's Techie Blog</title>
  <link rel="icon" href="/assets/favicon.ico">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Pat's Techie Blog</a>
      </h1>
      <nav class="menu-bar">
        <ul>
          <li><a href="/login">Login</a></li>
          <li>Logout</li>
          <li>Dashboard</li>
        </ul>
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
    </footer>
  </div>

</body>

</html>