<h3 class="page-title">User Login</h3>

<section>
    <div class="divider"></div>
    <form id="formUser" class="login-form">
        <div>
            <label for="user-name">username:</label>
            <input type="text" id="user-name" value="" />
        </div>
        <div>
            <label for="user-password">password:</label>
            <input type="Password" id="user-password" value="" />
        </div>
        <div>
            <button class="post-button">LOG IN</button>
        </div>
    </form>
    
    <form id="formNewUser" class="login-form">
        <div>
            <label for="newuser-name">select a username:</label>
            <input type="text" id="newuser-name"/>
        </div>
        <div>
            <label for="newuser-password">select a password:</label>
            <input type="Password" id="newuser-password"/>
        </div>
        <div>
            <button type="submit" class="post-button">SIGN UP</button>
        </div>  
    </form>
    
    <p class="other-options"><a href="">New User? - Click Here</a></p>
</section>

<script src="/javascript/login.js"></script>