<div class="wrapper">
<form id="formUser" class="login-form">
    <h1>User Login</h1>
    <div>
        <label for="user-email">email:</label>
        <input type="text" id="user-email" value="" />
    </div>
    <div>
        <label for="user-password">password:</label>
        <input type="Password" id="user-password" value="" />
    </div>
    <div>
        <button type="submit">LOG IN</button>
    </div>
</form>

<form id="formNewUser" class="login-form">
    <h1>New User</h1>
    <div>
        <label for="newuser-name">username:</label>
        <input type="text" id="newuser-name"/>
    </div>
    <div>
        <label for="newuser-email">email:</label>
        <input type="text" id="newuser-email"/>
    </div>
    <div>
        <label for="newuser-password">password:</label>
        <input type="Password" id="newuser-password"/>
    </div>
    <div>
        <button type="submit">SIGN UP</button>
    </div>  
</form>


<p class="other-options"><a href="">New User? - Click Here</a></p>

</div>
<script src="/javascript/login.js"></script>