<h3 class="page-title">Adding New Post</h3>
<section>
    <div class="divider"></div>
    <div class="edit-form">
        <label for="edit-title">Title of Post</label>
        <textarea name="edit-title" id="edit-title" cols="300" rows="2"></textarea>
        <label for="edit-contents">Post Contents</label>
        <textarea name="edit-contents" id="edit-contents" cols="300" rows="15"></textarea>
        <div class="button-wrapper">
            <button id="add-btn" class="post-button">Add</button>
            <button id="cancel-btn" class="post-button">Cancel</button>
        </div>
    </div>
</section>
<script src="/javascript/new-post.js"></script>