* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

header {
    border: 1px black solid;
    padding: 20px;
    color: black;
}

.title-wrapper {
    display: flex;
    align-items: center;
}

header h1 {
    text-decoration: none;
    color: black;
    margin-left: 20px;
}


.menu-bar {
    margin-left: 50px;
}

.menu-bar ul {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    text-decoration: none;
}

.menu-bar li {
    margin-right: 25px;
    font-size: 16px;
}

.user-signedin {
    font-size: 20px;
    font-weight: bold;
}

.post {
    width: 90%;
    margin: 0 auto;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
.post-title {
    font-size: 24px;
    color: blue;
    font-weight: bold;
}



.post-author {
    font-size: 16px;
    font-weight: bold;
}

.contents {
    padding: 10px;
    font-size: 20px;
    background-color: whitesmoke;
}

.post-date, .post-comments {
    font-size: 14px;
    font-style: italic;
}

.login-form {
    width: 400px;
    border: 1px solid black;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 150px;
}
.login-form h1 {
   text-align: center;
   margin-bottom: 20px;
}

.login-form label {
    font-size: 14px;
    font-style: italic;
}

.login-form input {
    height: 30px;
    width: 380px;
    margin-bottom: 25px;
}

.login-form button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
}

#formUser {
    display: flex;
}

#formNewUser {
    display: none;
}
.other-options {
    margin-top: 10px;
    text-align: center;
}
.single-post-wrapper {
    width: 90%;
    margin: 0 auto;
    margin-top: 25px;
}
.comment-line {
    display: flex;
    margin-top: 10px;
}
.comment-text {
    margin-left: 10px;
    font-size: 18px;
}
.comment-date {
    margin-left: 26px;
}
.comment-form {
    display: flex;
    flex-direction: column;
}

#new-comment {
    max-width:100%;
    margin-bottom: 10px;
    padding: 5px;
}
.comment-form button {
    width: 100px;
    height: 50px;
}
.comments-header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    color: blue;
    font-size: 22px;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.page-title {
    text-align: center;
    color: blue;
    font-size: 28px;
    margin: 20px;
}

.edit-wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

#edit-title {
    padding: 5px;
    max-width: 100%;
    font-size: 18px;
}

#edit-contents {
    padding: 5px;
    max-width: 100%;
    font-size: 18px;   
}