:root {
    --primary-color: #161F6D;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}
body {
    background: #00ABE1;
}
.wrapper {
    max-width: 1100px;
    min-height: 100vh;
    margin: 0 auto;
    background: white;
    padding-bottom: 20px;
}

/* Begin Header Formatting */
header {
    background: var(--primary-color);
    padding: 20px;
}
.title-wrapper {
    display: flex;
    align-items: center;
}
header h1 {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 50px;
}
.menu-bar {
    margin-left: 50px;
    margin-top: 25px;
}
.menu-bar ul {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    text-decoration: none;
}
.menu-bar li {
    margin-right: 25px;
    font-size: 24px;
    color: white;
}
.menu-bar a {
    color: white;
    border-radius: 10px;
    border: solid 1px white;
    padding: 10px;
}
.menu-bar a:hover {
    color: #161F6D;
    background: white;
}
.user-signedin {
    font-size: 20px;
    font-weight: bold;
}

/* Common Formatting */
.page-title {
    text-align: center;
    color: var(--primary-color);
    font-size: 38px;
    margin: 20px;
}
section {
    width: 90%;
    margin: 0 auto;
}
.divider {
    width: 100%;
    border-bottom: 2px solid var(--primary-color);
}
.post-button {
    background: whitesmoke;
    color:var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}
.post-button:hover {
    background: var(--primary-color);
    color: white;
}
.post-title {
    font-size: 30px;
    color: var(--primary-color);
    padding-top: 10px;
    padding-bottom: 10px
}

/* Homepage Formatting */
.feed-post {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Dashboard Formatting */
.dashboard-stats {
    font-size: 22px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
}
.dashboard-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}
.contents {
    font-size: 26px;
    background: whitesmoke;
    border: solid var(--primary-color);
    padding: 10px;
    width: 100%;
    min-height: 150px;
}

/* Single-Post Formatting */
.comment-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
textarea {
    width: 100%;
    font-size: 24px;
    margin-bottom: 20px;
    padding: 10px;
}
.comments-header {
    text-align: center;
    font-size: 28px;
    color: var(--primary-color);
    margin: 20px;
}
.comment-line {
    display: flex;
    margin-top: 10px;
    width: 100%;
    background: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
}
.comment-text {
    margin-left: 10px;
    font-size: 24px;
}
.comment-date {
    margin-left: 26px;
}
.comment-form {
    display: flex;
    flex-direction: column;
}
.comments-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Edit-Post */
.edit-form {
    margin-top: 20px;
}

/* Login Form */
.login-form {
    width: 400px;
    border: 1px solid var(--primary-color);
    padding: 20px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 150px;
}
.login-form h1 {
   text-align: center;
   margin-bottom: 20px;
}
.login-form label {
    font-size: 14px;
    font-style: italic;
}
.login-form input {
    height: 30px;
    width: 380px;
    margin-bottom: 25px;
}
.login-form button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
}
#formUser {
    display: flex;
}
#formNewUser {
    display: none;
}
.other-options {
    margin-top: 10px;
    text-align: center;
}

@media screen and (max-width: 696px) {
    .menu-bar li {
        font-size: 18px;
    }
    .user-signedin {
        display: none;
    }
  }